### DSCI 100: GROUP PROJECT PROPOSAL

GROUP 10 - SECTION 007: Michelle Ho, Arian Afshari, Kyle Wise, Zidong Zhou

In [2]:
#The libraries
library(tidyverse)
library(dplyr)
library(tidyr)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [22]:
#The loaded code + Any required changes and tidying (Data from Hungary)
data <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.hungarian.data", 
                          col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs","restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))

#Changing any ? to NA in our dataset
data[data=="?"]<-NA

#Converting columns to correct type (mutate_if mutates columns based on provided conditions.) (mutate_at allows to mutate multiple columns to the same type)
data <- data |> mutate_if(is.character, as.numeric) |> mutate_at(vars("sex", "cp", "fbs", "restecg", "exang", "ca", "thal", "num", "slope"), factor)

#one-hot encoded data
encoded_data <- data |> mutate(sex0 = ifelse(sex=="0",1,0), sex1 = ifelse(sex=="1",1,0),
                      cp1 = ifelse(cp=="1",1,0), cp2 = ifelse(cp=="2",1,0), cp3 = ifelse(cp=="3",1,0), cp4 = ifelse(cp=="4",1,0), 
                      fbs0 = ifelse(fbs=="0",1,0), sex1 = ifelse(fbs=="1",1,0),
                      restecg0 = ifelse( restecg=="0",1,0), rectecg1 = ifelse(restecg=="1",1,0), restecg2 = ifelse(restecg=="2",1,0),
                      exang0 = ifelse(exang=="0",1,0), exang1 = ifelse(exang=="1",1,0),
                      slope1 = ifelse(slope=="1",1,0), slope2 = ifelse(slope=="2",1,0), slope3 = ifelse(slope=="3",1,0),
                      thal3 = ifelse(thal=="3",1,0), thal6 = ifelse(thal=="6",1,0), thal7 = ifelse(thal=="7",1,0),
                      num0 = ifelse(num=="0",1,0), num1 = ifelse(num=="1",1,0)) |> select(-where(is.factor)) #Removing all factor coloumns from the dataframe.
matrix <- cor(encoded_data, use = "pairwise.complete.obs") #creating a correlation matrix based on the above dataframe, and ignoring the NAs.
num_df <- data.frame(matrix[,25]) #grabbing the 25th coloumn of the matrix as a dataframe.
num_df <- num_df |> arrange(desc(abs(num_df))) #arranging the 25th column in a descending order based on absolute value to only account for the strength of the relationship not the direction.
num_df

Rows: 294 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): trestbps, chol, fbs, restecg, thalach, exang, slope, ca, thal
dbl (5): age, sex, cp, oldpeak, num

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in cor(encoded_data, use = "pairwise.complete.obs"):
“the standard deviation is zero”

         matrix...25.
num0     -1.000000000
num1      1.000000000
exang0   -0.583847096
exang1    0.583847096
cp4       0.555071280
slope1   -0.554213745
oldpeak   0.545700394
thal3    -0.537483850
slope2    0.516442601
cp2      -0.445804898
thalach  -0.331392900
thal7     0.277547782
sex0     -0.272781339
chol      0.209318230
thal6     0.202828995
sex1      0.163232156
fbs0     -0.163232156
age       0.159314557
cp3      -0.154940513
trestbps  0.139716698
slope3    0.064209724
restecg2 -0.057801586
restecg0  0.014021883
rectecg1  0.006802993
cp1       0.001269634